div{
 width: 100px;
 height: 100px;
 border: 1px solid red;
 margin: 20px auto;
 padding: 5px;
 text-align: center;
 /* line-height: 100px; */
}
body{
    color: aliceblue;
    background-color:black;
}
#top-left{
    box-shadow: -5px -5px gray;
    border-radius: 5px 5px;
}
#bottom-right{
    box-shadow: 5px 5px 5px blue;
    border-radius: 10px 0;
}
#bottom-right-spread{
    box-shadow: 5px 5px 5px 5px red;
    border-radius: 10px 20px 30px 40px;
}
#outer-spread{
    box-shadow: 0 0 50px yellow ;
    border-radius: 100px;
}
#inset{
    box-shadow: inset 0 0 10px rgb(191, 255, 17);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}