body{
     /* background-image: url('../../Documents/images\ 1.jpg');
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: fixed;  */

    /* background: azure url('../../Documents/images\ 1.jpg') no-repeat center bottom fixed ; */

    /* background: azure url('../../Documents/images\ 1.jpg') no-repeat  left top fixed ; */

    background: azure url('../../Documents/images\ 1.jpg') no-repeat  30px 100px fixed ;

}



