table{
    width: 85%;
    border: 3px solid red;
    background-color: rgb(252, 252, 0);
    /* border-spacing: 0; */
    border-collapse: collapse;
}
th,td{
    border: 3px solid rgb(43, 154, 245);
    padding: 5px;
}
#time{
    background-color: aquamarine;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.day{
    text-align: left;
}