#page{
    width: 960px;
    margin: 0 auto;
}
#main{
     width: 65%;
     float: left;
     margin-right: 5%;
}
#sidebar{
    width: 30%;
    float: right;
}
.clear{
    clear: both;
}
#content{
    background-color: aquamarine;
    padding: 10px;
}



