
#wrapper {
    width: 50%;
    border: 2px solid crimson;
    margin: 0  auto;
}
a{
    text-decoration: none;
    color: black;
}
li:hover{
    background-color: violet;
}
ul{
    background-color: rgb(255, 150, 75);
    height: 50px;
}
li{
    display: inline-block;
    height: 50px;
    padding: 0  15px;
    line-height: 50px;
}
#comming-soon {
    visibility: hidden;
}